version: "3.8"

configs:
  nginx-config:
    file: ./nginx-conf/default.conf

services:
  notification:
    image: index.docker.io/drkimpatrick/ms-notification-tabz:develop
    # image: index.docker.io/drkimpatrick/ms-notification-tabz:fx
    ports:
      - "8000:8000"

    networks:
      - tabz-media
    env_file:
      - .env-notification
    deploy:
      replicas: 1

  api:
    image: index.docker.io/drkimpatrick/new-tabz-media:prod
    env_file:
      - .env
    ports:
      - "4000:4000"
    networks:
      - tabz-media
    deploy:
      replicas: 1

  nginx:
    image: nginx:stable-alpine
    configs:
      - source: nginx-config
        target: /etc/nginx/conf.d/default.conf
    volumes:
      - /etc/ssl/certs/dhparam-2048.pem:/etc/ssl/certs/dhparam-2048.pem:ro

    secrets:
      - source: ssl_cert
        target: /etc/nginx/ssl/fullchain.pem
        mode: 0444
      - source: ssl_key
        target: /etc/nginx/ssl/privkey.pem
        mode: 0444
      - source: ssl_cert_root
        target: /etc/nginx/ssl/fullchain-root.pem
        mode: 0444
      - source: ssl_key_root
        target: /etc/nginx/ssl/privkey-root.pem
        mode: 0444
      - source: ssl_cert_other
        target: /etc/nginx/ssl/fullchain-other.pem
        mode: 0444
      - source: ssl_key_other
        target: /etc/nginx/ssl/privkey-other.pem
        mode: 0444
      - source: ssl_cert_ussd
        target: /etc/nginx/ssl/fullchain-ussd.pem
        mode: 0444
      - source: ssl_key_ussd
        target: /etc/nginx/ssl/privkey-ussd.pem
        mode: 0444
    depends_on:
      - api
    ports:
      - 80:80
      - 443:443
    networks:
      - tabz-media
    deploy:
      placement:
        constraints:
          - node.role == manager

networks:
  tabz-media:

secrets:
  ssl_cert:
    external: true
  ssl_key:
    external: true
  ssl_cert_root:
    external: true
  ssl_key_root:
    external: true
  ssl_cert_other:
    external: true
  ssl_key_other:
    external: true
  ssl_cert_ussd:
    external: true
  ssl_key_ussd:
    external: true
